development:
  # The password for the database.
  database: 'your_development_database_password'
  # The password for redis.
  redis: 'your_development_redis_password'
  # A secret used for various cryptographic operations.
  serviceSecret: 'your_development_service_secret'
  # A pepper for hashing passwords.
  emailSecretHashPepper: 'your_development_email_pepper'
  # Giphy API Key (optional)
  giphy_api_key: 'your_giphy_api_key'

test:
  # The password for the database used for tests.
  database: 'your_test_database_password'
  # The password for redis used for tests.
  redis: 'your_test_redis_password'
  # A secret used for various cryptographic operations in tests.
  serviceSecret: 'your_test_service_secret'
  # A pepper for hashing passwords in tests.
  emailSecretHashPepper: 'your_test_email_pepper'
