name: Format

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  format:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: 'master'

      - name: Install dependencies (Server)
        working-directory: crewboard_server
        run: dart pub get

      - name: Install dependencies (Client)
        working-directory: crewboard_client
        run: dart pub get

      - name: Install dependencies (Flutter App)
        working-directory: crewboard_flutter
        run: flutter pub get

      - name: Install dependencies (Landing)
        working-directory: landing
        run: flutter pub get

      - name: Check formatting
        run: dart format --set-exit-if-changed .
